.superContenido{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    .contenedor, app-loader{
        grid-column: 1;
        grid-row: 1;
    }

    app-loader{
        z-index: 99;
    }
}